<div>
  <h2>Driver Login</h2>

  <!-- PHONE STEP -->
   @if (step === 'phone') {
      <div>
    <input class="border border-solid border-black" type="text" placeholder="+91XXXXXXXXXX"
           [formControl]="phoneForm.controls['phone']"/>

    <button (click)="sendOtp()" class="bg-green-500 text-white px-4 py-2 rounded">Send OTP</button>
  </div>
   }


  <!-- OTP STEP -->
   @if (step === 'otp') {
     <div>
    <input class="border border-solid border-black " type="text" placeholder="Enter OTP"
           [formControl]="otpForm.controls['otp']"/>

    <button (click)="verifyOtp()">Verify OTP</button>
  </div>
   }
 

  <div id="recaptcha-container"></div>
</div>
